---
- name: Install MongoDB
  apt:
    name: "{{ mongodb_apt_package }}"
    state: present
    update_cache: yes

- name: Ensure service enabled
  service:
    name: "{{ mongodb_service_name }}"
    enabled: yes
    state: started
  
